# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.idea
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Flask stuff:
instance/
.webassets-cache

# Sphinx documentation
docs/_build/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
openvino_env/
openvino_env*/


# Spyder project settings
.spyderproject
.spyproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# vim backup files
*~

# Notebook temporal files
notebooks/*/output/**
notebooks/*/model/**
notebooks/*/data/**
notebooks/*/cache/**
notebooks/*/.cache/**

# Local pip cache directories
pipcache/
pipcache_openvino/

# PySpelling generated dictionary
.ci/spellcheck/dictionary
notebooks/llm-chatbot/Qwen3-0.6B/
notebooks/llm-lora/Qwen3-0.6B/
notebooks/llm-lora/TinyLlama-1.1B-Chat-v1.0-int8-ov/
notebooks/llm-lora/lora/
**/llm_config.py
**/notebook_utils.py
notebooks/llm-chatbot/DeepSeek-R1-Distill-Qwen-1.5B/
notebooks/llm-chatbot/llama-3.2-1b-instruct/
notebooks/llm-chatbot/minicpm4-0.5b/
notebooks/llm-chatbot/tiny-llama-1b-chat/
